.dropdown__container{
    position: absolute;
    top: 15px;
    left: 50%;
    width: 140%;

    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 52, 52);
    
}
.dropdown__item:nth-of-type(odd){
   
    border-bottom: solid 1px #f5f4f5;
    
    
}
.dropdown__item:nth-last-of-type(1){
   
    border: none;
    
    
}
.dropdown__item{
    
    
    padding: 10px 0;
    padding-left: 10px;
    transition: all 0.3s ease;
    
}
.dropdown__item:hover{
    background-color: rgb(125, 40, 40);
}
.dropdown__item.active{
    background-color: rgb(125, 40, 40);
}