.moviesBox__container{
    display: flex;
    justify-content: center;
   
    padding: 0 10px;
}

.moviesBox__center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    
    margin: 0 auto;
}

.movieBox__movie{
    margin: 20px;
    flex: 30%;
}