.search__container{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.search__input{
    margin: 0 10px;
    padding: 2px 10px;
}

select{
    background-color: rgb(249, 239, 188);
    text-transform: capitalize;
}

select option{
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.search__container .button{
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0 10px;
}